name: ecommerce_app
description: "Simple Flutter e-commerce app consuming Laravel API with Provider."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  dio: ^5.4.0
  provider: ^6.1.0
  shared_preferences: ^2.2.2
  fluttertoast: ^8.2.4
  intl: ^0.18.1
  webview_flutter: ^4.4.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true


